body .menu{
    margin: 0 100px;
    height: 100%;
    background: #ecf0f1;
}
header{
    text-align: center;
}
header img{
    width: 190px;
}
.menu .suggest_box{
    padding: 1em 10em;
}
.suggest_box .suggest{
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 1em 0;
    background: white;
    border-left: solid 6px #27ae60;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
.suggest .random{
    font-size: 25px;
    color: #16a085;
    font-weight: bold;
    padding: 30px 50px;
    margin: 0 5em;
    padding: 0;
}
.venues_name{
    float: left;
    text-align: left;
    margin: 0 0 0 10em;
    height: 400px;
    overflow-y: scroll;
}
.venue{
    width: 350px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2ecc71;
    background: white;
    border-top: solid 5px #1abc9c;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.venue:hover{
    color: white;
    background: #1abc9c;
    border-top: solid 5px #1abc9c;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    transition: .4s;
    cursor: pointer;
}
.venue p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.name{
    margin: 15px;
    width: 200px;
    display: inline-block;
    font-size: 20px;
}
.menu .map_menu{
    margin: 0 10em 0 0;
    float: right
}
.venues_name input[type='button'] {
  	display: inline-block;
  	padding: 0.3em 1em;
  	text-decoration: none;
  	color: #2ecc71;
  	border: solid 2px #2ecc71;
  	border-radius: 3px;
	background: #ffffff;
  	transition: .4s;
}


input[type='button']:hover {
    background: #2ecc71;
    color: white;
}
.menu .submit_form{
    margin: 10em 10em 0 10em;
    padding: 100px 0;
}
.submit_form input[type='submit'] {
	font-size: 20px;
  	display: inline-block;
  	padding: 0.3em 1em;
  	text-decoration: none;
  	color: #2c3e50;
  	border: solid 2px #2c3e50;
  	border-radius: 3px;
	background: #ffffff;
  	transition: .4s;
    width: 100%;
    margin: 50px 0 0 0;
}
input[type='submit'] {
	font-size: 20px;
  	display: inline-block;
  	padding: 0.3em 1em;
  	text-decoration: none;
  	color: #DA5715;
  	border: solid 2px #DA5715;
  	border-radius: 3px;
	background: #ffffff;
  	transition: .4s;
    width: 100%;
    margin: 0;
}
input[type='submit']:hover {
  	background: #DA5715;
  	color: white;
}
footer{
    margin-top: auto;
}