header{
    text-align: center;
}
header img{
    width: 190px;
}
.store_list{
    float: left;
    text-align: left;
    margin: 0 0 0 10em;
    height: 400px;
    overflow-y: scroll;
}
.store{
    width: 350px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2ecc71;
    background: white;
    border-top: solid 5px #1abc9c;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.store:hover{
    color: white;
    background: #1abc9c;
    border-top: solid 5px #1abc9c;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    transition: .4s;
    cursor: pointer;
}