<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/search/decision.css">
</head>
<body>
<header class="header">
    <a href="../"><img src="/static/search/690648.png"></a>
</header>
<div class="menu">
    <div class="store" >
        <div class="name">
            {{ store_name }}
        </div>
        <div class="address">
            {{ store_adr }}
        </div>
    </div>
    <div class="map_menu">
        <iframe id="map" width="800" height="300"
                src="https://maps.google.co.jp/maps?output=embed&q={{ store_adr }}{{ place }}">
        </iframe>
        <div class="share">
            <p class="txt">みんなと共有</p>
                <a href="https://twitter.com/intent/tweet?text=今日のランチはここで決定！&url=example.com&hashtags=WhatsYourLunch"
                   rel=”nofollow” onClick="window.open(encodeURI(decodeURI(this.href)),
                       'twwindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1');
                       return false;"><img src="/static/search/Twitter_Logo_Blue.png"></a>
                </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <div class="line">
                <div class="line-it-button" style="display: none;" data-lang="ja" data-type="share-b" data-ver="3"
                     data-url="http://WhatsYourLunch." data-color="default"
                     data-size="large" data-count="false"></div>
                <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
            </div>
        </div>
    </div>
</div>
</body>
</html>